<div style="text-align: center; width: 100%;">
    <h1>Shorten a URL</h1>

    <%= form_with url:urls_path, scope: :url_form, local:true do |f| %>
      <%= f.text_field :long_url, value: @url_form.url&.long_url, placeholder: "put your url here https://example.com", style: "width: 33em; text-align: center;" %> <br />
      <%= f.submit "Shorten" %>
    <% end %>

    <% if @url_form.message.present? %>
      <p> <%= @url_form.message %> </p>

      <% if @url_form.success %>
        
        long url: <%= @url_form.url.long_url %> <br/>
        short url: <%= @url_form.url.short_url %> <br/>
        expired by: <%= @url_form.url.expiration_date %> <br/>
        
      <% else %>
        <% if @url_form.url.errors[:long_url].any? %>
          <div style="color: red;">
              <%= @url_form.url.errors[:long_url].join(', ') %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <hr/>
    <h3> advertisements</h3>
    <% @url_form.advertisements.each do |ad| %>
      <%= ad.label %>, <%= ad.image_url %> <br/>
    <% end %>

</div>